Servidor/Node-red/flows.json
[{"id":"de249332.3e172","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad38d082.5b7eb","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"df85b35b.8713b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9304508a.ae638","type":"ui_group","z":"","name":"RB_CONTROL","tab":"df85b35b.8713b","order":1,"disp":true,"width":"6","collapse":false},{"id":"62616492.c96aac","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"917567c0.556838","type":"mongodb","z":"","hostname":"192.168.120.146","port":"27017","db":"admin","name":""},{"id":"6d465e2b.1bc04","type":"ui_group","z":"","name":"Nodos","tab":"df85b35b.8713b","order":2,"disp":true,"width":"6","collapse":false},{"id":"cfa8a8be.fb6698","type":"ui_group","z":"","name":"Nodo1","tab":"df85b35b.8713b","order":3,"disp":true,"width":"6","collapse":false},{"id":"4be8c78c.ca1458","type":"udp in","z":"de249332.3e172","name":"","iface":"","port":"5679","ipv":"udp6","multicast":"false","group":"","datatype":"utf8","x":100,"y":360,"wires":[["6afb9f13.bf4ca","dff1c8fa.9be5c8","f0e866eb.32aed8","a714c4e8.e30468","18846ea8.738d11"]]},{"id":"a714c4e8.e30468","type":"debug","z":"de249332.3e172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":280,"wires":[]},{"id":"12a1df43.5b37e1","type":"file","z":"de249332.3e172","name":"TXT_NODOS","filename":"/home/user/Desktop/prueba.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":640,"y":360,"wires":[[]]},{"id":"6afb9f13.bf4ca","type":"function","z":"de249332.3e172","name":"","func":"var str=msg.payload;\nvar node=msg.fromip;\nvar route=msg.ip;\nmsg.payload=str+\" id: \" + node.split(\":\")[5];\nmsg.payload=msg.payload + \" del router de borde: \";\nmsg.payload=msg.payload + route.split(\"::\")[0];\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["12a1df43.5b37e1","a77e839c.2d3a5"]]},{"id":"dff1c8fa.9be5c8","type":"function","z":"de249332.3e172","name":"","func":"var node=msg.fromip;\nmsg.payload=node.split(\":\")[5];\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["3d4a6d59.e918e2"]]},{"id":"3d4a6d59.e918e2","type":"ui_gauge","z":"de249332.3e172","name":"","group":"9304508a.ae638","order":1,"width":"5","height":"3","gtype":"compass","title":"ND_RX","label":"Nodo","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":460,"wires":[]},{"id":"f0e866eb.32aed8","type":"function","z":"de249332.3e172","name":"","func":"var msg1, msg2, msg3,msg4,msg5;\nvar node=msg.fromip;\nstr=node.split(\":\")[5];\nswitch(str) {\n  case \"1\":\n    msg1 = {\"payload\":\"id: \" + str};\n    msg1 = {\"control\":\"on\"};\n    break;\n  case \"16\":\n    msg2 = {\"payload\":\"id: \" + str};\n    msg2 = {\"control\":\"on\"};\n    break;\n  case \"3\":\n    msg3 = {\"payload\":\"id: \" + str};\n    msg3 = {\"control\":\"on\"};\n    break;\n  case \"f\":\n    msg4 = {\"payload\":\"id: \" + str};\n    msg4 = {\"control\":\"on\"};\n    break;\n  default:\n    msg5 = {\"payload\":\"otros nodos envian datos\"};\n}\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":5,"noerr":0,"x":290,"y":560,"wires":[["7c7be073.ccb9e","27e0fb0b.2621b4"],["63a44f94.078ec"],["267b17e4.dd1068"],["6d21d3ee.e2a06c"],["94b51576.7ef3d8"]]},{"id":"63a44f94.078ec","type":"ui_text","z":"de249332.3e172","group":"6d465e2b.1bc04","order":3,"width":"4","height":"2","name":"","label":"Nodo_control","format":"{{msg.control}}","layout":"col-center","x":630,"y":580,"wires":[]},{"id":"267b17e4.dd1068","type":"ui_text","z":"de249332.3e172","group":"6d465e2b.1bc04","order":4,"width":"4","height":"2","name":"","label":"Nodo3","format":"{{msg.control}}","layout":"col-center","x":610,"y":620,"wires":[]},{"id":"7c7be073.ccb9e","type":"ui_text","z":"de249332.3e172","group":"6d465e2b.1bc04","order":2,"width":"4","height":"2","name":"","label":"Nodo1","format":"{{msg.control}}","layout":"col-center","x":610,"y":540,"wires":[]},{"id":"94b51576.7ef3d8","type":"ui_text","z":"de249332.3e172","group":"6d465e2b.1bc04","order":5,"width":"6","height":"2","name":"","label":"CONTROL","format":"{{msg.payload}}","layout":"col-center","x":630,"y":720,"wires":[]},{"id":"8ddf8c4d.1c204","type":"ui_switch","z":"de249332.3e172","name":"","label":"Reset","tooltip":"","group":"6d465e2b.1bc04","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"","onvalueType":"str","onicon":"","oncolor":"","offvalue":"","offvalueType":"str","officon":"","offcolor":"","x":330,"y":720,"wires":[["7c7be073.ccb9e","63a44f94.078ec","267b17e4.dd1068","94b51576.7ef3d8","3d4a6d59.e918e2","6d21d3ee.e2a06c"]]},{"id":"cb4209aa.8da8d8","type":"inject","z":"de249332.3e172","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":940,"wires":[["afce0857.ce3ab8"]]},{"id":"8404eebd.03a1c","type":"counter","z":"de249332.3e172","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":520,"y":840,"wires":[["3d0a5e21.1fd682","312b962b.84789a"]]},{"id":"3d0a5e21.1fd682","type":"debug","z":"de249332.3e172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":760,"wires":[]},{"id":"312b962b.84789a","type":"function","z":"de249332.3e172","name":"","func":"msg.payload=msg.count;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":840,"wires":[["ab087675.10d3b8"]]},{"id":"ab087675.10d3b8","type":"ui_gauge","z":"de249332.3e172","name":"","group":"9304508a.ae638","order":8,"width":"4","height":"3","gtype":"wave","title":"RB_CONTROL","label":"Paquetes","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":840,"wires":[]},{"id":"34b2f844.208238","type":"function","z":"de249332.3e172","name":"","func":"flow.set(\"cuenta\",0);","outputs":1,"noerr":0,"x":270,"y":1000,"wires":[[]]},{"id":"afce0857.ce3ab8","type":"function","z":"de249332.3e172","name":"CONT_PAQT","func":"cont=flow.get(\"cuenta\");\ncont=cont+1;\nflow.set(\"cuenta\",cont);\nmsg.payload=cont;\nif (cont > 10){\n    flow.set(\"cuenta\",0);\n}\nreturn msg","outputs":1,"noerr":0,"x":520,"y":940,"wires":[["82331431.0b8568","2d1cd1da.53379e"]]},{"id":"82331431.0b8568","type":"ui_chart","z":"de249332.3e172","name":"Nivel","group":"9304508a.ae638","order":10,"width":"3","height":"5","label":"RB_CONTROL","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"15","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":940,"wires":[[]]},{"id":"2d1cd1da.53379e","type":"debug","z":"de249332.3e172","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":1040,"wires":[]},{"id":"a77e839c.2d3a5","type":"mongodb out","z":"de249332.3e172","mongodb":"917567c0.556838","name":"BD_NODOS","collection":"nodos","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":630,"y":220,"wires":[]},{"id":"18846ea8.738d11","type":"function","z":"de249332.3e172","name":"RB_CONTROL","func":"var node=msg.fromip;\nstr=node.split(\":\")[0];\nif (str == \"fd00\"){\n    msg = {\"payload\":\"RB id: \" + str};\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":840,"wires":[["afce0857.ce3ab8","8404eebd.03a1c"]]},{"id":"6d21d3ee.e2a06c","type":"ui_text","z":"de249332.3e172","group":"6d465e2b.1bc04","order":4,"width":"4","height":"2","name":"","label":"Nodo15","format":"{{msg.control}}","layout":"col-center","x":620,"y":660,"wires":[]},{"id":"f7eb438e.b43d4","type":"ui_chart","z":"de249332.3e172","name":"","group":"cfa8a8be.fb6698","order":0,"width":"6","height":"5","label":"RX_PAQT","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":500,"wires":[[]]},{"id":"27e0fb0b.2621b4","type":"counter","z":"de249332.3e172","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":620,"y":500,"wires":[["d17413d6.ad1ee"]]},{"id":"d17413d6.ad1ee","type":"function","z":"de249332.3e172","name":"","func":"msg.payload=msg.count;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["f7eb438e.b43d4"]]}]